@font-face {
    font-family: "Jersey20-Regular";
    src: url(../assets/fonts/Jersey_20/Jersey20-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Jersey20-Regular";
}



img{
    object-fit: cover   ;
}

body{
    background-color: #080F28;  
}

nav{
    background-color:black;
}

h1, h2, h3, p {
    color: white;
}
h1{ 
    font-size: 3rem;
}

h2{
    margin-top: 70px;
}

h3{
    margin-top: 30px;
    margin-right: 800px;
}

p{
    margin-right: 200px;
    text-align: start;
    text-align: justify; 
    font-size: 1.1rem;
}

.card-img{
    height: 100%;
    width: 100%;
}

/*Buscador de index mitad de pag*/
.buscador{
    margin: 30px 40px 30px 40px;
    
}

/*Card de index*/
.card{
    display: flex; 
    flex-direction: row;
    height: 45vh;
    width: 250px;
    border: 1px solid rgb(30, 0, 54);
    border-radius: 5px;
    margin-right: 40px;
    padding: 0%;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 5px #3d3d3d;
}

/*index*/
.sinLista{
    list-style: none;
    
}


/*iconos*/
.fa-brands{
    font-size: 20px;  
    
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: rgb(218, 39, 69);
}

.fa-whatsapp{
    color: green;
}

.fa-x-twitter{
    color: white;
}

/*Pagina de Detalle*/

.bgDetalle{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.518) 0%, rgba(11, 11, 11, 0.765) 0%, rgba(15, 15, 15, 0.4) 0%, rgba(0, 0, 0, 0.491) 100%), url("../assets/igm/bg_primera_profecia.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    width: 100%;
}

/*Mensaje de error en validacion de datos*/
.error-message{
    color: rgb(203, 20, 20);
    font-size: 14px;
    margin-top: 5px;
}


